*.o
*.a
.DS_Store
ExtLibs/libgist/bin/*
ExtLibs/libgist/doc/*
*.dep
*.dsp
*.dsw
bin/*
*.dSYM
src/Parsers/MineruleParser.tab.cpp
src/Parsers/MineruleParser.tab.hpp
src/Parsers/lex.mr.c
src/Utils/OptionParser_lexer.cpp
src/Utils/OptionParser_parser.cpp
src/Utils/OptionParser_parser.hpp
src/Utils/lex.yy.c
bin/mrcatalogue
bin/mrprintrules
lib/objects/__.SYMDEF